header {
    background-color: green;
}
header #logo{
    width:10px;
    height: 10px;
    display: flex;
}
#inicio {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: aqua;
}
#inicio aside img{
    flex-direction: column;
    width: 500px;
    height:500px;
    display: flex;
    justify-content: left;
}
#inicio article h1{
    flex-direction: column;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    margin-top: 200px;
    margin-left:-400px;

}